<div class="row">
  <!-- left section -->
  <div class="col-md-8">
    <nb-card>
      <nb-card-header>
        Produits
      </nb-card-header>
      <nb-card-body>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col" style="width: 60px;"></th>
              <th scope="col">Produit</th>
              <th scope="col">Quantité</th>
              <th scope="col">Prix</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <!-- <div>
                  <img [src]="item.productImages.length ? item.productImages[0].blob : '/assets/images/vw-bulli-3583964_1920.png'"
                                class="img-fluid" alt="" style="width: 30px; height: 30px;">
                </div> -->
              </td>
              <td>
                vary
              </td>
              <td>
                2
              </td>
              <td>
                100 Ar
              </td>
              <td>
                200 Ar
              </td>
            </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>
        Paiement
      </nb-card-header>
      <nb-card-body>
        <table class="table table-borderless">
          <tr>
            <td class="">Sous-total</td>
            <td class="">2 articles</td>
            <td class="">200 Ariary</td>
          </tr>

          <tr class="">
            <td>Taxes</td>
            <td class="">ne s'applique pas</td>
            <td class="">0 Ariary</td>
          </tr>

          <tr class="">
            <td class="">La livraison</td>
            <td class="">Aucun</td>
            <td class="">200 Ariary</td>
          </tr>

          <tr class="">
            <td class="">Total</td>
            <td class=""></td>
           <td class="">200 Ariary</td>
          </tr>
        </table>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>État</nb-card-header>
      <nb-card-body>
        <form action="">
          <div class="row">
            <nb-select class="col-md-12">
              <nb-option value="new">Nouveau</nb-option>
              <nb-option value="hold">En attente</nb-option>
              <nb-option value="delivred">Livré</nb-option>
              <nb-option value="closed">Fermé</nb-option>
            </nb-select>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
  <!-- //left section -->

  <!-- right section -->
  <div class="col-md-4">
    <nb-card>
      <nb-card-header>Client</nb-card-header>
      <nb-card-body>
         Card
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>Adresse de livraison</nb-card-header>
      <nb-card-body>
         Card
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>Adresse de facturation</nb-card-header>
      <nb-card-body>
         Card
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>Notes</nb-card-header>
      <nb-card-body>
        Aucune note du client
      </nb-card-body>
    </nb-card>
  </div>
  <!-- //right section -->
</div>
