<div class="row d-flex justify-content-center">
  <div class="col-md-4">
    <nb-card>
      <nb-card-header>Créer un compte</nb-card-header>
      <nb-card-body>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="form-group">
            <label for="name" class="label">Nom</label>
            <input type="text" nbInput fullWidth id="name" placeholder="Nom" formControlName="name" required>
            <p *ngIf="registerForm.controls.name.invalid && (registerForm.controls.name.dirty || registerForm.controls.name.touched)" class="text-danger">le nom est obligatoire</p>
          </div>
          <div class="form-group">
            <label for="email" class="label">Adresse Email</label>
            <input type="email" nbInput fullWidth id="email" placeholder="Email" formControlName="email" required email>
            <p *ngIf="registerForm.controls.email.invalid && (registerForm.controls.email.dirty || registerForm.controls.email.touched)" class="text-danger">le courrier électronique est obligatoire</p>
            <p *ngIf="emailUniqueness" class="text-danger">le courrier est déjà pris</p>
          </div>
          <div class="form-group">
            <label for="password" class="label">Mot de passe</label>
            <input type="password" nbInput fullWidth id="password" placeholder="Mot de passe" formControlName="password" required>
            <p *ngIf="registerForm.controls.password.invalid && (registerForm.controls.password.dirty || registerForm.controls.password.touched)" class="text-danger">le mot de passe est obligatoire</p>
          </div>
          <div class="form-group">
            <label for="password" class="label">Saisir à nouveau le mot de passe</label>
            <input type="password" nbInput fullWidth placeholder="Mot de passe" required>
          </div>
          <div>
            <button [disabled]="registerForm.invalid" type="submit" nbButton status="success" fullWidth>Suivant</button>
          </div>
          <hr>
          <div>
            <p>
              Vous avez déjà un compte ? <a routerLink="/auth">Suivant</a>
            </p>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
