<div class="d-flex justify-content-center h-100 align-items-center">
  <div class="row text-center">
    <div class="col-md-12">
      <h1 style="font-size: 60px; line-height: 100%;">
        "Sous l'œil de l'ange, un gagnant reste toujours un gagnant"
      </h1>
      <h6>Santatriniaina Alain Ambinintsoa</h6>
      <p>CEO et fondateur de Abiaby</p>
    </div>
    <div class="col-md-12">
      <button nbButton shape="round" size="giant" status="success" routerLink="/auth/login">Commencer à vendre</button>
    </div>
    <div class="col-md-12">
      <span style="font-size: 9px;">
        10000 Ariary par mois + frais de vente supplémentaires
      </span>
    </div>
  </div>
</div>
