<div class="row justify-content-center">
  <div class="col-md-6">
    <nb-card>
      <nb-card-body>
        <div class="row">
          <div class="col-md-12">
            <h6 class="subtitle text-center">Avant de commencer, veuillez vous assurer que vous avez à portée de main les éléments suivants</h6>
            <small class="text-center">Nous pouvons demander des informations ou des documents supplémentaires ultérieurement</small>
            <ul>
              <li>Adresse professionnelle et de contact</li>
              <li>Numéro de téléphone ou de portable</li>
              <li>Carte de crédit ou Autre méthode de payment</li>
            </ul>
          </div>
          <div class="col-md-12">
            <div class="row justify-content-center">
              <div class="col-md-10">
                <form [formGroup]="companyForm" (ngSubmit)="createCompany()">
                  <div class="form-group">
                    <label for="name" class="label">Nom de l'entreprise</label>
                    <input formControlName="name" type="text" nbInput fullWidth id="name" placeholder="Nom de l'entreprise">
                    <p *ngIf="companyForm.controls.name.invalid && (companyForm.controls.name.dirty || companyForm.controls.name.touched)"
                      class="text-danger">le nom est obligatoire</p>
                  </div>
                  <div class="form-group">
                    <label for="address" class="label">Localisation de l'entreprise</label>
                    <input formControlName="address" required type="text" nbInput fullWidth id="address" placeholder="Localisation de l'entreprise">
                    <p *ngIf="companyForm.controls.address.invalid && (companyForm.controls.address.dirty || companyForm.controls.address.touched)"
                      class="text-danger">la localisation de l'entreprise est obligatoire</p>
                  </div>
                  <div class="form-group">
                    <label for="email" class="label">Addresse E-mail</label>
                    <input formControlName="email" required type="email" email nbInput fullWidth id="email" placeholder="Addresse E-mail">
                    <div *ngIf="companyForm.controls.email.invalid">
                      <p *ngIf="companyForm.controls.email.errors.required && (companyForm.controls.email.dirty || companyForm.controls.email.touched)"
                        class="text-danger">L'addresse E-mail est obligatoire</p>
                      <p *ngIf="companyForm.controls.email.errors.email && (companyForm.controls.email.dirty || companyForm.controls.email.touched)"
                        class="text-danger">L'addresse E-mail est invalide</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="phoneNumber" class="label">Téléphone</label>
                    <input formControlName="phoneNumber" required type="text" nbInput fullWidth id="phoneNumber" placeholder="Téléphone">
                    <p *ngIf="companyForm.controls.phoneNumber.invalid && (companyForm.controls.phoneNumber.dirty || companyForm.controls.phoneNumber.touched)"
                      class="text-danger">Le téléphone E-mail est obligatoire</p>
                  </div>
                  <div>
                    <small>En cliquant sur "Accepter et continuer", vous acceptez les politiques, accords et avis suivants : <a href="#">condition d'utilsation</a></small>
                  </div>
                  <div>
                    <button type="submit" nbButton status="success" fullWidth>Accepter et continuer</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>